<table border="1">
    <tr>
        <th>Student Id</th>
        <th>Name</th>
        <th>Program</th>
        <th>Gpa</th>
    </tr>
    {{#each arr}}
        <tr>
            <td>{{studId}}</td>
            <td>{{name}}</td>
            <td>{{program}}</td>
            <td>{{gpa}}</td>
        </tr>
    {{/each}}
</table>