<h1>Final Test</h1>
<h3>
    <a href="/register">Register</a>
</h3>
<h3>
    <a href="/signIn">Sign In</a>
</h3>
<div>
        <hr>
        <h1>Student Honour Pledge:</h1>
        <p>I acknowledge Seneca College's academic integrity policy.</p>
        <p>On my honor, I have neither given or received unauthorized aid on this test</p>
        <p>Name: <span style="background-color: yellow; font-weight: bold;">Andrii Sych</span></p>
        <p>Student Number: <span style="background-color: yellow; font-weight: bold;">125752212</span></p>
</div>